.HA_logo{
	width: 35px;
	height: 35px;
}

#emailicon{
	color: white;
	font-size: 20px;
}

#linkedinicon{
	font-size: 22px;
}

#githubicon{
	font-size: 22px;
}
/*INDEX PAGE*/



#indextext{
	margin-top: 340px;
	text-align: center;
}

#index{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(webdev.jpg);
	background-size: cover;
	background-position: center;
}

html{
	height: 100%;
}


#index .bg-custom{
	background-color: transparent;
}

#index .navbar-dark .navbar-nav .nav-link{
	color: white;
}

#index .navbar{
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Passion One', cursive;
}

#index h1{
	font-size: 4rem;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

#index #indextext{
	color: black;
	font-family: 'Passion One', cursive;
	font-size: 2.5rem;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

#resumecolumn{
	color: white;
	padding-top: 15px;
}

#button{
	color: white;
	border-color: white;
}

#button:hover{
	background: rgba(0,0,0,0.5);
}

hr{
	border-color: white;
}

.schoolname{
	font-size: 1.2em;
	margin-bottom: 0px;
}

.degree{
	font-size: 1.2em;
	margin-bottom: 0px;
}

.year{

}

#tophr{
	width: 100%;
}

h2{
	color: white;
	text-align: center;
}

#resumecolumn2{
	color: white;
	padding-top: 15px;
}

#filler{
	width: 10%;
}

a{
	color: #1a1a1a;
}

